<!DOCTYPE html>
<html ng-app="bookStore">
<head>
    <title>Geek Bookstore</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="static/css/store.css" rel="stylesheet">
</head>

<body>
<header>
    <h1 class="text-center">Geek BookStore</h1>

    <h2 class="text-center">An Angular store for geeky books</h2>
</header>

<div class="container" role="main">

    <div class="list-group">
        {% raw %}
        <div ng-controller="StoreController as storeCtrl">
            <div class="list-group-item" ng-repeat="product in storeCtrl.products">
                <h3>
                    {{product.name}}
                    <em class="pull-right">{{product.price | currency}}</em>
                    <br>
                    <img ng-src="{{product.images[0]}}"/>
                </h3>


                <section ng-init="tab = 1" ng-controller="PanelController as panelCtrl">
                    <ul class="nav nav-pills">
                        <li ng-class="{ active: panelCtrl.isSelected(1) }">
                            <a href ng-click="panelCtrl.selectTab(1)">Description</a>
                        </li>
                        <li ng-class="{ active: panelCtrl.isSelected(2) }">
                            <a href ng-click="panelCtrl.selectTab(2)">Author</a>
                        </li>
                        <li ng-class="{ active: panelCtrl.isSelected(3) }">
                            <a href ng-click="panelCtrl.selectTab(3)">Reviews</a>
                        </li>
                    </ul>
                    <div class="panel" ng-show="panelCtrl.isSelected(1)">
                        <h4>Description </h4>

                        <p>{{product.description}}</p>
                    </div>

                    <div class="panel" ng-show="panelCtrl.isSelected(2)">
                        <h4>Author </h4>

                        <p>{{product.author}}</p>
                        <br>

                        <p>{{product.authorblurb}}</p>
                    </div>

                    <div class="panel" ng-show="panelCtrl.isSelected(3)">
                        <h4>Reviews </h4>
                        <blockquote ng-repeat="review in product.reviews">
                            <b>Stars: {{review.stars}}</b>
                            {{review.body}}
                            <br>
                            <cite>by: {{review.author}}</cite>
                        </blockquote>


                        <h4>Submit a Review</h4>

                        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                              ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
                            <select ng-model="reviewCtrl.review.stars" required>
                                <option value="1">1 star</option>
                                <option value="2">2 stars</option>
                                <option value="3">3 stars</option>
                                <option value="4">4 stars</option>
                                <option value="5">5 stars</option>
                            </select>
                            <br>
                            <textarea ng-model="reviewCtrl.review.body" required></textarea>
                            <br>
                            <label>by:</label>
                            <input name="author" ng-model="reviewCtrl.review.author" type="email" required/>
                            <input type="submit" value="Submit Review"/>
                        </form>
                    </div>
                </section>
            </div>
        </div>
        {% endraw %}
    </div>

</div><!-- /.container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
<script src="static/js/app.js"></script>
</body>
</html>