<div class="list-group">
    <div class="list-group-item">

        <h3>
            Product Name : {{selectedBook.name}}
            <em class="pull-right">{{selectedBook.price | currency}}</em>
            <br>
        </h3>


    </div>
</div>


<section ng-init="tab = 1" ng-controller="bookPanelCtrl">
    <ul class="nav nav-pills">
        <li ng-class="{ active: bookPanelCtrl.isTabSelected(1) }">
            <a href ng-click="bookPanelCtrl.selectTab(1)">Description</a>
        </li>
        <li ng-class="{ active: bookPanelCtrl.isTabSelected(2) }">
            <a href ng-click="bookPanelCtrl.selectTab(2)">Author</a>
        </li>
        <li ng-class="{ active: bookPanelCtrl.isTabSelected(3) }">
            <a href ng-click="bookPanelCtrl.selectTab(3)">Reviews</a>
        </li>
    </ul>
    <div class="panel" ng-show="bookPanelCtrl.isSelected(1)">
        <h4>Description </h4>

        <p>{{selectedBook.description}}</p>
    </div>

    <div class="panel" ng-show="bookPanelCtrl.isSelected(2)">
        <h4>Author </h4>

        <p>{{product.author}}</p>
        <br>

        <p>{{product.authorblurb}}</p>
    </div>

    <div class="panel" ng-show="bookPanelCtrl.isSelected(3)">
        <h4>Reviews </h4>
        <blockquote ng-repeat="review in product.reviews">
            <b>Stars: {{review.stars}}</b>
            {{review.body}}
            <br>
            <cite>by: {{review.author}}</cite>
        </blockquote>


        <h4>Submit a Review</h4>

        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
              ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
            <select ng-model="reviewCtrl.review.stars" required>
                <option value="1">1 star</option>
                <option value="2">2 stars</option>
                <option value="3">3 stars</option>
                <option value="4">4 stars</option>
                <option value="5">5 stars</option>
            </select>
            <br>
            <textarea ng-model="reviewCtrl.review.body" required></textarea>
            <br>
            <label>by:</label>
            <input name="author" ng-model="reviewCtrl.review.author" type="email" required/>
            <input type="submit" value="Submit Review"/>
        </form>
    </div>
</section>