<div ng-init="tab = 0" ng-controller="bookPanelCtrl" ng-model="openBookPanel.state">
    <div class="panel with-nav-tabs panel-info">
        <div class="panel-heading" data-toggle="tooltip" title="Select a book and click on any tab to view the details!">
            <ul class="nav nav-tabs">
                <li ng-class="{ active: isTabSelected(1) }">
                    <a href="#tabDescription" ng-click="selectTab(1)" data-toggle="tab">Description</a>
                </li>
                <li ng-class="{ active: isTabSelected(2) }">
                    <a href="#tabAuthor" ng-click="selectTab(2)" data-toggle="tab">Author</a>
                </li>
                <li ng-class="{ active: isTabSelected(3) }">
                    <a href="#tabReview" ng-click="selectTab(3)" data-toggle="tab">Reviews</a>
                </li>
            </ul>
        </div>
        <div class="panel-body" ng-show="openBookPanel.state">
            <button type="button" id="bookPanelCloseBtn" class="close" aria-label="Close" ng-click="setBookPanelStatus(false)">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="tab-content">
                <div class="tab-pane fade in" ng-class="{ active: isTabSelected(1) }" id="tabDescription">{{selectedBook.description}}</div>
                <div class="tab-pane fade in" ng-class="{ active: isTabSelected(2) }" id="tabAuthor">{{selectedBook.authorblurb}}</div>
                <div class="tab-pane fade in" ng-class="{ active: isTabSelected(3) }" id="tabReview">
                    <blockquote ng-repeat="review in selectedBook.reviews">
                        <b>Stars: {{review.stars}}</b>
                        {{review.body}}
                        <br>
                        <cite>by: {{review.author}}</cite>
                    </blockquote>
                    <h4>Submit a Review</h4>
                    <!-- Add this later :  ng-controller="ReviewController as reviewCtrl"
                    <form name="reviewForm">
                          ng-submit="reviewForm.$valid && reviewCtrl.addReview(selectedBook)" novalidate>
                        <select ng-model="reviewCtrl.review.stars" required>
                            <option value="1">1 star</option>
                            <option value="2">2 stars</option>
                            <option value="3">3 stars</option>
                            <option value="4">4 stars</option>
                            <option value="5">5 stars</option>
                        </select>
                        <br>
                        <textarea ng-model="reviewCtrl.review.body" required></textarea>
                        <br>
                        <label>by:</label>
                        <input name="author" ng-model="reviewCtrl.review.author" type="email" required/>
                        <input type="submit" value="Submit Review"/>
                    </form>
                    -->
                </div>
            </div>
        </div>
    </div>

    <!--
    <p><<font color="white">OpenBookPanel: {{openBookPanel.state}}</font></p>
    -->
</div>